/* make box sizing border box work well */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* reset browser margins and paddings, prevent white space from appearing on the right on skinny screens */
* {
    margin: 0;
    padding: 0;
}

html,body {
    overflow-x:hidden;
}

header, section, footer {
    padding-left: 55px;
    padding-right: 55px;
}

header {
    padding-top: 50px;
    padding-bottom: 250px;
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

p {
    line-height: 1.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

nav img {
    object-fit: contain;
    width: 150px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    color: hsl(238, 22%, 44%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    gap: 1.5em;
    white-space: nowrap;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text, .hero .img-wrapper, .img-wrapper img, .productive .text {
    max-width: 540px;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5em;
    margin-bottom: 15px;
    color: hsl(243, 87%, 12%);
}

.hero-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    color: hsl(243, 87%, 12%);
}

button {
    background-color: hsl(224, 93%, 58%);
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0px 5px 5px 2px hsla(0, 0%, 0%, 0.1);
}

button:hover {
    background-color: hsl(224, 93%, 68%);
    cursor: pointer;
}

input {
    height: 40px;
    padding-left: 10px;
}

::placeholder {
    color: hsl(0, 0%, 75%);
    font-family: 'Open Sans', sans-serif;
}

header button {
    width: 35%;
}

header input {
    width: 55%;
    margin-right: 10px;
}

.productive {
    background-color: #F8F8FE;
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productive img {
    max-height: 400px;
}

.productive p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 18px;
    color: hsl(243, 87%, 12%); 
    max-width: 500px;
}

.secondary-cta {
    color: hsl(170, 45%, 43%);
    width: fit-content;
} 

.secondary-cta p {
    color: hsl(170, 45%, 43%);
    width: fit-content;
    display: inline;
} 

.secondary-cta img {
    position: relative;
    top: 3px;
    left: 2px;
}

hr {
    height: 1px;
    background-color: hsl(170, 45%, 43%);
    border: none;
}

.secondary-cta:hover {
    cursor: pointer;
}

.secondary-cta:hover p {
    color: hsl(170, 45%, 73%);
}

.secondary-cta:hover hr {
    background-color: hsl(170, 45%, 73%);
}

.secondary-cta:hover img { /* filter for SVG from 👉 https://codepen.io/sosuke/pen/Pjoqqp, unable to keep arrow white on hover */
    filter: brightness(0) saturate(100%) invert(94%) sepia(97%) saturate(277%) hue-rotate(89deg) brightness(88%) contrast(92%);
}

.testimonial {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    margin-top: 40px;
    width: 300px;
    height: 200px;
    box-shadow: 0px 3px 3px 3px hsla(0, 0%, 66%, 0.1);
}

.testimonial p {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif; font-weight: 400;
    font-size: 12px;
}

.credit {
    display: flex;
    height: 36px;
    align-items: center;
    gap: 10px;
}

.credit img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
}

#name, #position {
    margin: 0;
}

#name {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#position {
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.CTA {
    background-color: hsl(238, 22%, 44%);
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
    justify-content: space-between; 
    align-items: center;
}

.CTA form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.nudge {
    width: 480px;
}

.nudge p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 500px;
}

.CTA input {
    width: 425px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 5px 5px 3px hsla(0, 0%, 20%, 0.1);
}

.CTA ::placeholder {
    color: hsl(0, 0%, 75%);
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

.CTA button {
    width: 35%;
    box-shadow: 0px 5px 5px 3px hsla(0, 0%, 20%, 0.1);
}

footer {
    background-color: hsl(243, 87%, 12%);
    padding-top: 100px;
    padding-bottom: 80px;
}

footer img[alt="fylo-logo"] {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(188deg) brightness(101%) contrast(105%);
    margin-bottom: 25px;
    max-width: 166px;
}

footer ion-icon, footer p {
    color: white;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.phone, .email {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.contact img {
    width: 18px;
}

.links {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 400px;
}

.links p {
    margin-bottom: 10px;
}

.links p:hover, ion-icon:hover {
    cursor: pointer;
    color: hsl(228, 45%, 44%);
}

.links p:nth-child(1) {
    order: 1;
}

.links p:nth-child(2) {
    order: 3;
}

.links p:nth-child(3) {
    order: 5;
}

.links p:nth-child(4) {
    order: 7;
}

.links p:nth-child(5) {
    order: 2;
}

.links p:nth-child(6) {
    order: 4;
}

.links p:nth-child(7) {
    order: 6;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 100px;
    position: relative;
    right: 200px;
}

ion-icon {
    font-size: 24px;
}

@media all and (max-width: 1019px) {

    .hero {
        flex-direction: column-reverse;
    }

    .img-wrapper {
        margin-bottom: 50px;
    } 

    .hero h1, .hero p {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        height: 95px;
    }

    header input, header button {
        width: 100%;
    }

    .productive {
        flex-direction: column-reverse;
    }

    .testimonial, .secondary-cta {
        margin-left: auto;
        margin-right: auto;
    }

    .CTA {
        flex-direction: column;
        padding-top: 80px;
    }

    h2, h3, .CTA p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .CTA form {
        align-items: center;
        width: 100%;
    }

    .CTA input, .CTA button {
        width: 85%;
    }

    .nudge {
        width: 100%;
        margin-bottom: 30px;
    }

    .info {
        flex-direction: column;
        height: 300px;
    }

    .social {
        position: static;
    }
}

@media all and (max-width: 620px) {

    header, section, footer {
        padding-left: 35px;
        padding-right: 35px;
    }

    header {
        padding-top: 30px;
    }

    nav img {
        width: 90px;
    }

    .nav-links p {
        font-size: 12px;
    }

    .img-wrapper, .img-wrapper img {
        width: 100%;
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    h2, h3 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }

    .hero-text p, .text p {
        font-size: 14px;
    }

    .secondary-cta {
        margin: 0 auto;
    }

    .secondary-cta p {
        font-size: 12px;
        text-align: center;
    }

    .testimonial p {
        font-size: 11px;
    }

    .CTA {
        padding-top: 60px;
    }
}

@media all and (max-width: 375px) {
    header {
        background-image: url(./images/bg-curve-mobile.svg);
        padding-bottom: 150px;
    }

    .info {
        height: 400px;
    }

    .links {
        display: block;
    }

    .links :nth-child(4) {
        margin-bottom: 40px;
    }

    .social {
        margin-left: auto;
        margin-right: auto;
    }
}

.attribution {
    font-size: 11px; text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* style guide
    color: hsl(243, 87%, 12%);
    color: hsl(238, 22%, 44%);
    color: hsl(224, 93%, 58%);
    color: hsl(170, 45%, 43%);
    color: hsl(240, 75%, 98%);
    color: hsl(0, 0%, 75%);
    font-family: 'Open Sans', sans-serif; font-weight: 400; Body
    font-family: 'Raleway', sans-serif; font-weight: 400, 700; Headings, CTAs, Header Navigation
    mobile width: 375px
    desktop width: 1440px
*/